.DropZone {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 16px;
  position: relative;
  border: 2px dashed var(--drop-border);
  border-radius: 9px;
  background-color: var(--drop-bg);
  box-shadow: 0 2px 8px var(--shadow-color);

  &-active {
    border-color: var(--drop-border-active);
    background-color: var(--drop-bg-active);
  }

  &:focus-within {
    border-color: var(--drop-border-active);
  }

  @supports (corner-shape: bevel) {
    border-radius: 0 9px 0 9px;
    corner-shape: bevel;
  }

  > * {
    pointer-events: none;
  }
}

.DropZoneInput {
  appearance: none;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.DropZoneDivider {
  opacity: 0.8;

  &::before {
    content: '\2013  ';
  }
  &::after {
    content: ' \2013';
  }
}
